JUnit report
============

設置 task output report
-----------------------

![](images/test-report/post-select.png)

設定讀取 report 位置
--------------------

![](images/test-report/task-setting.png)

如上圖所示，將 Test report XMLs 設置為 `target/surefire-reports/*.xml`

檢視 test report
----------------

![](images/test-report/report.png)
